*{
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box
}


body{
  min-height: 100vh;
  background-image: radial-gradient(circle at 4.55% -4.17%, #feffff 0, #efffff 12.5%, #ddfffd 25%, #cafbf7 37.5%, #b5f2f2 50%, #9fe9ee 62.5%, #8ae1ec 75%, #76d9eb 87.5%, #62d1eb 100%);
}

.container {
  
  width: 100vw;
 
} 

.content_container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #caf0f8;
  opacity: 0.8;
  margin: 5rem;
  padding: 1rem;
  border-radius: 1rem;
  visibility: visible;
  
}

.card{
  margin-top: 1rem;
}

.card-title{
  
  
  box-shadow: 0 0.1rem 0.5rem 0 rgba(0,0,0,0.1);
  color: #16697a;
  width: 100%;
  padding: 0.5rem;
  font-weight: semi-bold;
}


.card-add{
  display: flex;
  
  width: 100%;
  padding: 0.5rem;
  font-weight: semi-bold;
  background-color: #16697a;
  color: #fff;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
}

.cardOwn{
  width: 18rem;
  border-radius: 1rem;
  text-decoration: none;
  color: #000;
}

.cardOwn:hover{
  transform: scale(0.96);
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
  transition: all 0.4s;
  color: #000;
}

.cardOwn:active{
  transform: scale(0.90);
  transition: all 0.3s;
}

.action-board-bar{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.board-name{
  width: 30%;
  font-size: 1.5rem;
  font-weight: bold;
  color: #16697a;
  background-color: transparent;
  border: 2px solid transparent;
}

.board-name:hover{
  background-color: #caf0f8;
  transition: all 0.3s;
}

.board-name:active{
  border: 2px solid black;
}


.columnOwn{
  background-color: white;
  text-align: center;
  width: 27%;
  border-radius: 0.3rem;
  text-decoration: none;
  color: #000;
  margin: 0px;
}


.taskContainer{
  display: flex;
  line-height: 0.8;
  flex-direction: column;
  align-items: flex-start;
  background-color: whitesmoke;
  margin: 0.7rem;
  padding: 1rem 1rem;
  padding-bottom: 0rem;
  border-radius: 0.4rem;
  box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.2);

}

.taskContainer:hover{
  transform: scale(0.96);
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
  transition: all 0.4s;
  color: #000;
}


.task-title{
  font-size: 1.1rem;
  font-weight: semi-bold;
  color: #16697a;
}



.btn{
  background-color: #caf0f8;
  border-radius: 1rem;
  color: #000;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all 0.4s;
}

.imgCardAdd{
  padding: 0rem 6rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}


.containerDetails{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100%;
  background-color: #76d9eb;
  margin: 4rem;
  padding: 1rem;
  border-radius: 1rem;
  
}

.img_task {
  width: 60%;
  margin: 1rem auto;
}

.container_text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  height: 100%;
  background-color: #caf0f8;
  padding: 1rem;
  border-radius: 1rem;
  
}

.title_task{
  align-items: center
  font-size: 1.2rem;
  font-weight: bold;
  width: 50%;
  margin: 0.4rem; 
}

.date_task{
  margin-bottom: 0.4rem; 
  width: 50%;
  font-size: 1.1rem;
}

.description_task{
  margin-bottom: 0.4rem;
  min-width: 50%;
  font-size: 1.1rem;
  color: #023047;
}

.input:hover{
  background-color:#76d9eb;
  
}

.btn-task{
  margin-top: 0.4rem;
  background-color: #caf0f8;
}




